* {
  margin: none;
}

button::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0;
  padding 0;
}

#canvas {
  display: block;
  margin: 10vh auto 0 auto;
}

#toolbar {
  display: flex;

  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;

  height: 6rem;
  width: 100%;

  background-color: black;
}

.button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 4rem;
  height: 5rem;
}

.button:hover {
  cursor: pointer;
}

.button i {
  font-size: 4rem;
}
