#version {
  position: absolute;
  top: 0.5rem;
  left: -4rem;

  margin: 0;
  padding: .7rem 4rem;
  transform: rotate(-45deg);

  color: #fff;
  background-color: #000;

  font-family: 'Knewave', cursive;
  font-size: 2rem;

  user-select: none;
}

#source-code-link {
  position: absolute;
  right: 0;
  top: 0;

  & img {
    width: 100px;
    height: 100px;
  }
}
