table {
  position: absolute;
  bottom: 5.1rem;
  width: 100%;
}

.note {
  box-sizing: border-box;

  width: 2.5rem;
  height: 3rem;
}

.note.header {
  font-family: 'Knewave', cursive;
  width: 2.5rem;
}

.note.off { background-color: #D9D9D9; }

tr:nth-child(1n) .note.header { background-color: #238DEF; color: #1D6FBB; }
tr:nth-child(1n) .note.on { background-color: #50ABFF; border: 3px solid #238DEF; }

tr:nth-child(2n) .note.header { background-color: #FF7B51; color: #D66542; }
tr:nth-child(2n) .note.on { background-color: #F59057; border: 3px solid #FF7B51; }

tr:nth-child(3n) .note.header { background-color: #EFE723; color: #BCB61F; }
tr:nth-child(3n) .note.on { background-color: #FBFF3D; border: 3px solid #EFE723; }
