.tippy-tooltip.black-theme {
  top: .4rem;

  border-radius: 0;

  color: white;
  background-image: url('/images/dropdown.svg');
  background-color: transparent;
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.tippy-tooltip.black-theme[data-animatefill] { background-color: transparent; }

.tippy-tooltip.black-theme .tippy-backdrop { background-color: black; }

.tippy-tooltip.black-theme .tippy-arrow { border: none; }

.tippy-tooltip.black-theme .tippy-content { margin-top: -1rem; }
