.musician {
  border: 1rem solid darken($white, 15%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 20rem;
  margin: 1rem;

  background-color: darken($white, 10%);

  & .graphic svg {
    transform: scale(0.6);
  }
  & .active {
    background-color: $accent;
  }

  & .edit-button, .mute-button {
    display: block;
    margin: auto;
    padding: 0;
    padding-top: 0.2rem;
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    cursor: pointer;
    background-color: transparent;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
  & .mute-button { left: 1rem; }
  & .edit-button { right: 1rem; }
}

body.edit-mode .musicians-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  & .musician {
    border: none;
    margin: 0 1.5rem 0 1.5rem;
    width: 6rem;
    height: 6rem;

    & .graphic svg { transform: scale(.25); }
    & .edit-button, .mute-button {
      position: absolute;
      left: 6.05rem;
      width: 2rem;
      height: 2rem;
      background-color: #e6e6e6;
      border: 1px solid $white;
      & svg {
        width: 80%;
        height: 80%;
      }
    }
    & .edit-button { top: 0; }
    & .mute-button { top: 2rem; }
  }
}

.muted { opacity: 0.3; }

.musicians-container {
  justify-content: center;
  flex-wrap: wrap;

  display: flex;
  max-width: 80vw;
  margin: 0 auto;
}

@keyframes pulse {
  from { box-shadow: 0 0 0 0 $accent; }
  to { box-shadow: 0 0 0 10px $accent; }
}
