.musician {
  border: 1rem solid darken($white, 15%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
  height: 20rem;
  margin: 1rem;

  background-color: darken($white, 10%);

  & .triangle {
    width: 0;
    height: 0;
    border-left: 3.5rem solid transparent;
    border-right: 3.5rem solid transparent;
    border-bottom: 7rem solid $black;
  }
  & .circle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: $black;
  }
  & .square {
    width: 6rem;
    height: 6rem;
    background-color: $black;
  }
  & .active {
    background-color: $accent;
  }

  & .edit-button, .mute-button {
    display: block;
    margin: auto;
    padding: 0;
    padding-top: 0.2rem;
    border: none;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2rem;
    cursor: pointer;
    background-color: transparent;
  }
  & .mute-button { left: 1rem; }
  & .edit-button { right: 1rem; }
}

body.edit-mode .musicians-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  & .musician {
    border: none;
    margin: 0 1.5rem 0 1.5rem;
    width: 6rem;
    height: 6rem;

    & .triangle { transform: scale(.6); }
    & .circle { transform: scale(.6); }
    & .square { transform: scale(.6); }
    & .edit-button, .mute-button {
      position: absolute;
      left: 6.05rem;
      width: 2rem;
      height: 2rem;
      background-color: #e6e6e6;
      border: 1px solid $white;
    }
    & .edit-button { top: 0; }
    & .mute-button { top: 2rem; }
  }
}

.muted { opacity: 0.3; }

.musicians-container {
  justify-content: center;
  flex-wrap: wrap;

  display: flex;
  max-width: 80vw;
  margin: 0 auto;
}

@keyframes pulse {
  from { box-shadow: 0 0 0 0 $accent; }
  to { box-shadow: 0 0 0 10px $accent; }
}
