table {
  position: absolute;
  top: 12.15rem;
  width: 100%;
  cursor: url(/images/edit.png) -30 30, pointer;
}

.active { display: block; }
.inactive { display: none; }

.note {
  box-sizing: border-box;

  width: 2.5rem;
  height: 1rem;
}

.note.header {
  font-family: 'Rubik', sans-serif;
  width: 2.5rem;
  text-transform: uppercase;
}

.note.off { background-color: #D9D9D9; }

tr .note.header.white { background-color: $white; color: $black; }
tr .note.on { background-color: $primary; }

tr .note.header.black { background-color: $black; color: $white; }
