#toolbar {
  box-sizing: border-box;
  display: flex;

  justify-content: space-between;
  position: absolute;
  bottom: 0;

  padding: 0 1rem;
  height: 4rem;
  width: 100%;

  background-color: $primary;
  color: $white;
  & div {
    display: flex;

    align-items: center;

    width: calc(100vw / 3);
  }
  & div:nth-of-type(1) { justify-content: start; }
  & div:nth-of-type(2) { justify-content: center; }
  & div:nth-of-type(3) { flex-direction: row-reverse; }

}

body.edit-mode #toolbar {
  top: 6rem;
}

#toolbar #bpm-icon {
  filter: invert(1);
}

#toolbar #bpm-input {
  box-sizing: border-box;
  border: none;

  width: 4rem;
  margin-left: 0.5rem;

  background-color: transparent;
  color: $white;

  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

#toolbar .button {
  border: none;

  height: 100%;

  background-color: transparent;

  &:hover { cursor: pointer; }
  &:disabled { opacity: 0.2; }
  & img {
    width: 1.7rem;
    filter: invert(1);
  }
}
